/* 
Link,styl zaimportowany z google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  color: #000;
  line-height: 1.51;
}


header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: #fff 1px 0 10px;
}

.index {
  background-image: url(../img/elektronika.jpg);
}

header.analogowa {
  background-image: url(../img/circuit-board.jpg);
}
.cyfrowa {
  background-image: url(../img/bramki-logiczne-jpeg.jpg),url(../img/procesor.webp);
  background-repeat: no-repeat,
  no-repeat;
  background-position: left,
  right;
  background-size:25%,25%;
}
.op-amp {
  background-image: url(../img/op-amp-t212_1-3-4.eps.jpg);
}



a {
  color: blue;
  font-style: italic;
}

main, footer {
  margin: 2rem;
}

h1, h2 {
  text-align: center
}

p {
  margin: 10px 5px
}

h1.left {
  text-align: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.zdjencie-1 {
  position: absolute;
  top: 8px;
  left: 50%;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
}

td, th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #000;
}
main {
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
footer {
  text-align: center;
}
